*{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color:lavenderblush;
}

h1{
    margin: 20px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color:lavenderblush;
    font-weight: medium;
    position: relative;
    bottom: 45px;
}

.search-bar{
    margin-top: 20px;
    text-align: center;
}

input{
    width: 350px;
    padding: 5px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    margin: 6px;
    border: none;
    outline: none;
}

select{
     width: 150px;
    padding: 5px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
     margin: 5px;
}

button{
    padding: 5px;
    width: 100px;
    border-radius: 25px;
    background-color: plum;
    border: none;
    color: snow;
     box-shadow: 0 4px 10px rgba(0,0,0,0.2);
     margin: 5px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.Product-card{
  margin: 20px;
  color:snow;
  background-color:plum;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  object-fit: contain;
  width: 300px;
  height: 300px;
  text-align: center;
  gap: 20px;


}


.Product-card:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 2ms;
}

button:hover{
    cursor: pointer;
    transform: scale(0.95);
}

footer{
    position:sticky;
    opacity: 1.1;
    margin-bottom: 10px;
}

img{
   width: 150px;
   height: 100px;
   padding: 4px;
   margin-bottom: 8px;
   text-align: center;
   

}

h3{
    font-size: medium;
    font-family: monospace;
    padding: 3px;
}
p{
    font-size: 10px;
    font-family: monospace;
    color: white;
    padding: 3px;
}


.nav-bar{
    background-color: plum;
    width: 100vw;
    height: 50px;
    position: relative;
    
}

.logo{
    font-size: 33px;
    color: lavenderblush;
    position: relative;;
    left: 10px;
    top: 7px;
    
}

.logo:hover{
    cursor: pointer;
    color: snow;
}

.login{
    position: relative;
    left: 90vw;
    bottom: 102px;
    background-color: lavenderblush;
    color: plum;
    border-radius: 35px;
}


@media(max-width:1050px){
    .nav-bar{
        width: 100% auto;
        overflow: auto;
    }
    .login{
          left: 88vw;
    }
    h1{
        text-align: center;
    }
    .logo{
        left: 9px;
    }
    
}


@media(max-width:926px){
    .nav-bar{
        width: 100% auto;
        overflow: auto;
    }
    .login{
          left: 86vw;
    }
    h1{
        text-align: center;
    }
    .logo{
        left: 8px;
    }
    
}



@media(max-width:807px){
    .nav-bar{
        width: 100% auto;
    }
    .login{
          left: 84vw;
    }
    h1{
        text-align: center;
    }
    .logo{
        left: 7px;
    }
    
}


@media(max-width:690px){
    .nav-bar{
        width: 100% auto;
    }
    .login{
          left: 82vw;
    }
    h1{
        text-align: center;
    }
    .logo{
        left: 6px;
    }
    
}




@media(max-width:609px){
    .nav-bar{
        width: 100% auto;
    }
    .login{
          left: 82vw;
          width: 90px;
    }
    h1{
        text-align: center;
    }
    .logo{
        left: 5px;
    }
}


@media(max-width:609px){
    .nav-bar{
        width: 100% auto;
    }
    .login{
          left: 81vw;
          width: 86px;
    }
    h1{
        text-align: center;
    }
    .logo{
        left: 4px;
    }
    
}



@media(max-width:483px){
    .nav-bar{
        width: 100% auto;
    }
    .login{
          left: 80vw;
          width: 75px;
    }
    h1{
        font-size: 26px;
        text-align: center;
    }
    .logo{
        left: 3px;
    }
    
}



@media(max-width:462px){
    .nav-bar{
        width: 100% auto;

    }
    .login{
          left: 79vw;
          width: 66px;
          bottom: 96px;
    }
    h1{
        font-size: 22px;
        text-align: center;
    }
    .logo{
        left: 2px;
    }
    
}