*{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color:lavenderblush;
}

h1{
    margin: 20px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color:lavenderblush;
    font-weight: medium;
}

.search-bar{
    margin-top: 20px;
    text-align: center;
}

input{
    width: 350px;
    padding: 5px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    margin: 6px;
    border: none;
    outline: none;
}

select{
     width: 150px;
    padding: 5px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
     margin: 5px;
}

button{
    padding: 5px;
    width: 100px;
    border-radius: 25px;
    background-color: plum;
    border: none;
    color: snow;
     box-shadow: 0 4px 10px rgba(0,0,0,0.2);
     margin: 5px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.Product-card{
  margin: 20px;
  color:snow;
  background-color:plum;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  object-fit: contain;
  width: 300px;
  height: 300px;
  text-align: center;
  gap: 20px;


}


.Product-card:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 2ms;
}

button:hover{
    cursor: pointer;
    transform: scale(0.95);
}

footer{
    position:sticky;
    opacity: 1.1;
    margin-bottom: 10px;
}

img{
   width: 150px;
   height: 100px;
   padding: 4px;
   margin-bottom: 8px;
   text-align: center;
   

}

h3{
    font-size: medium;
    font-family: monospace;
    padding: 3px;
}
p{
    font-size: 10px;
    font-family: monospace;
    color: white;
    padding: 3px;
}


.nav-bar{
    display: flex;
    background-color: plum;
    width: 100vw auto;
    height: 50px;
    justify-content:space-between;
    align-items: center;
    position:sticky;
    
}

.logo{
    font-size: 33px;
    color: lavenderblush;
    
}

.logo:hover{
    cursor: pointer;
    color: snow;
}

.login{
    background-color: lavenderblush;
    color: plum;
    border-radius: 35px;
    width: 100px;
    background-color: lavenderblush;
}


@media(max-width:824px){
    h1{
         font-size: 30px;
          text-align:center ;
    }
    .search{
        width: 75%;
    }
    
}


@media(max-width:600px){
    h1{
         font-size: 28px;
         text-align:center ;
    }
     .search{
        width: 70%;
    }
    
    
}

@media(max-width:540px){
    h1{
         font-size: 24px;
          text-align:center ;
    }
    .login{
        width: 90px;
    }
     .search{
        width: 65%;
    }
    
    
}

@media(max-width:500px){
    h1{
         font-size: 22px;
          text-align:center ;
    }
    .login{
        width: 78px;
    }
     .search{
        width: 60%;
    }
    
    
}